<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<p>正在跳转支付页面......</p>
<form id="payOrder" th:action="@{/pay}" method="post" type="hidden" style="display:none;">
	<input name="o" th:value="${payOrderId}" />
	<input name="q" th:value="${qrCode}">
</form>
</body>

<script
  src="https://code.jquery.com/jquery-2.2.4.js"
  integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
  crossorigin="anonymous"></script>
<script type="text/javascript">
	$(function(){
		$("#payOrder").submit();
	});	
</script>
</html>