<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wlpay.dal.dao.mapper.PayOrderMapper">
  <resultMap id="BaseResultMap" type="org.wlpay.dal.dao.model.PayOrder">
    <id column="PayOrderId" jdbcType="VARCHAR" property="payOrderId" />
    <result column="MchId" jdbcType="VARCHAR" property="mchId" />
    <result column="MchOrderNo" jdbcType="VARCHAR" property="mchOrderNo" />
    <result column="ChannelId" jdbcType="VARCHAR" property="channelId" />
    <result column="Amount" jdbcType="BIGINT" property="amount" />
    <result column="Currency" jdbcType="VARCHAR" property="currency" />
    <result column="Status" jdbcType="TINYINT" property="status" />
    <result column="ClientIp" jdbcType="VARCHAR" property="clientIp" />
    <result column="AlipayPid" jdbcType="VARCHAR" property="alipayPid" />
    <result column="Device" jdbcType="VARCHAR" property="device" />
    <result column="Subject" jdbcType="VARCHAR" property="subject" />
    <result column="Body" jdbcType="VARCHAR" property="body" />
    <result column="Extra" jdbcType="VARCHAR" property="extra" />
    <result column="ChannelMchId" jdbcType="VARCHAR" property="channelMchId" />
    <result column="ChannelOrderNo" jdbcType="VARCHAR" property="channelOrderNo" />
    <result column="ErrCode" jdbcType="VARCHAR" property="errCode" />
    <result column="ErrMsg" jdbcType="VARCHAR" property="errMsg" />
    <result column="Param1" jdbcType="VARCHAR" property="param1" />
    <result column="Param2" jdbcType="VARCHAR" property="param2" />
    <result column="NotifyUrl" jdbcType="VARCHAR" property="notifyUrl" />
    <result column="NotifyCount" jdbcType="TINYINT" property="notifyCount" />
    <result column="LastNotifyTime" jdbcType="BIGINT" property="lastNotifyTime" />
    <result column="ExpireTime" jdbcType="BIGINT" property="expireTime" />
    <result column="PaySuccTime" jdbcType="BIGINT" property="paySuccTime" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UpdateTime" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="RealAmount" jdbcType="BIGINT" property="realAmount" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    PayOrderId, MchId, MchOrderNo, ChannelId, Amount, Currency, Status, ClientIp, AlipayPid, 
    Device, Subject, Body, Extra, ChannelMchId, ChannelOrderNo, ErrCode, ErrMsg, Param1, 
    Param2, NotifyUrl, NotifyCount, LastNotifyTime, ExpireTime, PaySuccTime, CreateTime, 
    UpdateTime, RealAmount
  </sql>
  <select id="selectByExample" parameterType="org.wlpay.dal.dao.model.PayOrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_pay_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_pay_order
    where PayOrderId = #{payOrderId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_pay_order
    where PayOrderId = #{payOrderId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="org.wlpay.dal.dao.model.PayOrderExample">
    delete from t_pay_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.wlpay.dal.dao.model.PayOrder">
    insert into t_pay_order (PayOrderId, MchId, MchOrderNo, 
      ChannelId, Amount, Currency, 
      Status, ClientIp, AlipayPid, 
      Device, Subject, Body, 
      Extra, ChannelMchId, ChannelOrderNo, 
      ErrCode, ErrMsg, Param1, 
      Param2, NotifyUrl, NotifyCount, 
      LastNotifyTime, ExpireTime, PaySuccTime, 
      CreateTime, UpdateTime, RealAmount
      )
    values (#{payOrderId,jdbcType=VARCHAR}, #{mchId,jdbcType=VARCHAR}, #{mchOrderNo,jdbcType=VARCHAR}, 
      #{channelId,jdbcType=VARCHAR}, #{amount,jdbcType=BIGINT}, #{currency,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{clientIp,jdbcType=VARCHAR}, #{alipayPid,jdbcType=VARCHAR}, 
      #{device,jdbcType=VARCHAR}, #{subject,jdbcType=VARCHAR}, #{body,jdbcType=VARCHAR}, 
      #{extra,jdbcType=VARCHAR}, #{channelMchId,jdbcType=VARCHAR}, #{channelOrderNo,jdbcType=VARCHAR}, 
      #{errCode,jdbcType=VARCHAR}, #{errMsg,jdbcType=VARCHAR}, #{param1,jdbcType=VARCHAR}, 
      #{param2,jdbcType=VARCHAR}, #{notifyUrl,jdbcType=VARCHAR}, #{notifyCount,jdbcType=TINYINT}, 
      #{lastNotifyTime,jdbcType=BIGINT}, #{expireTime,jdbcType=BIGINT}, #{paySuccTime,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{realAmount,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.wlpay.dal.dao.model.PayOrder">
    insert into t_pay_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="payOrderId != null">
        PayOrderId,
      </if>
      <if test="mchId != null">
        MchId,
      </if>
      <if test="mchOrderNo != null">
        MchOrderNo,
      </if>
      <if test="channelId != null">
        ChannelId,
      </if>
      <if test="amount != null">
        Amount,
      </if>
      <if test="currency != null">
        Currency,
      </if>
      <if test="status != null">
        Status,
      </if>
      <if test="clientIp != null">
        ClientIp,
      </if>
      <if test="alipayPid != null">
        AlipayPid,
      </if>
      <if test="device != null">
        Device,
      </if>
      <if test="subject != null">
        Subject,
      </if>
      <if test="body != null">
        Body,
      </if>
      <if test="extra != null">
        Extra,
      </if>
      <if test="channelMchId != null">
        ChannelMchId,
      </if>
      <if test="channelOrderNo != null">
        ChannelOrderNo,
      </if>
      <if test="errCode != null">
        ErrCode,
      </if>
      <if test="errMsg != null">
        ErrMsg,
      </if>
      <if test="param1 != null">
        Param1,
      </if>
      <if test="param2 != null">
        Param2,
      </if>
      <if test="notifyUrl != null">
        NotifyUrl,
      </if>
      <if test="notifyCount != null">
        NotifyCount,
      </if>
      <if test="lastNotifyTime != null">
        LastNotifyTime,
      </if>
      <if test="expireTime != null">
        ExpireTime,
      </if>
      <if test="paySuccTime != null">
        PaySuccTime,
      </if>
      <if test="createTime != null">
        CreateTime,
      </if>
      <if test="updateTime != null">
        UpdateTime,
      </if>
      <if test="realAmount != null">
        RealAmount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="payOrderId != null">
        #{payOrderId,jdbcType=VARCHAR},
      </if>
      <if test="mchId != null">
        #{mchId,jdbcType=VARCHAR},
      </if>
      <if test="mchOrderNo != null">
        #{mchOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="channelId != null">
        #{channelId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=BIGINT},
      </if>
      <if test="currency != null">
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="clientIp != null">
        #{clientIp,jdbcType=VARCHAR},
      </if>
      <if test="alipayPid != null">
        #{alipayPid,jdbcType=VARCHAR},
      </if>
      <if test="device != null">
        #{device,jdbcType=VARCHAR},
      </if>
      <if test="subject != null">
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="body != null">
        #{body,jdbcType=VARCHAR},
      </if>
      <if test="extra != null">
        #{extra,jdbcType=VARCHAR},
      </if>
      <if test="channelMchId != null">
        #{channelMchId,jdbcType=VARCHAR},
      </if>
      <if test="channelOrderNo != null">
        #{channelOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="errCode != null">
        #{errCode,jdbcType=VARCHAR},
      </if>
      <if test="errMsg != null">
        #{errMsg,jdbcType=VARCHAR},
      </if>
      <if test="param1 != null">
        #{param1,jdbcType=VARCHAR},
      </if>
      <if test="param2 != null">
        #{param2,jdbcType=VARCHAR},
      </if>
      <if test="notifyUrl != null">
        #{notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="notifyCount != null">
        #{notifyCount,jdbcType=TINYINT},
      </if>
      <if test="lastNotifyTime != null">
        #{lastNotifyTime,jdbcType=BIGINT},
      </if>
      <if test="expireTime != null">
        #{expireTime,jdbcType=BIGINT},
      </if>
      <if test="paySuccTime != null">
        #{paySuccTime,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="realAmount != null">
        #{realAmount,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.wlpay.dal.dao.model.PayOrderExample" resultType="java.lang.Integer">
    select count(*) from t_pay_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_pay_order
    <set>
      <if test="record.payOrderId != null">
        PayOrderId = #{record.payOrderId,jdbcType=VARCHAR},
      </if>
      <if test="record.mchId != null">
        MchId = #{record.mchId,jdbcType=VARCHAR},
      </if>
      <if test="record.mchOrderNo != null">
        MchOrderNo = #{record.mchOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.channelId != null">
        ChannelId = #{record.channelId,jdbcType=VARCHAR},
      </if>
      <if test="record.amount != null">
        Amount = #{record.amount,jdbcType=BIGINT},
      </if>
      <if test="record.currency != null">
        Currency = #{record.currency,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        Status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.clientIp != null">
        ClientIp = #{record.clientIp,jdbcType=VARCHAR},
      </if>
      <if test="record.alipayPid != null">
        AlipayPid = #{record.alipayPid,jdbcType=VARCHAR},
      </if>
      <if test="record.device != null">
        Device = #{record.device,jdbcType=VARCHAR},
      </if>
      <if test="record.subject != null">
        Subject = #{record.subject,jdbcType=VARCHAR},
      </if>
      <if test="record.body != null">
        Body = #{record.body,jdbcType=VARCHAR},
      </if>
      <if test="record.extra != null">
        Extra = #{record.extra,jdbcType=VARCHAR},
      </if>
      <if test="record.channelMchId != null">
        ChannelMchId = #{record.channelMchId,jdbcType=VARCHAR},
      </if>
      <if test="record.channelOrderNo != null">
        ChannelOrderNo = #{record.channelOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.errCode != null">
        ErrCode = #{record.errCode,jdbcType=VARCHAR},
      </if>
      <if test="record.errMsg != null">
        ErrMsg = #{record.errMsg,jdbcType=VARCHAR},
      </if>
      <if test="record.param1 != null">
        Param1 = #{record.param1,jdbcType=VARCHAR},
      </if>
      <if test="record.param2 != null">
        Param2 = #{record.param2,jdbcType=VARCHAR},
      </if>
      <if test="record.notifyUrl != null">
        NotifyUrl = #{record.notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.notifyCount != null">
        NotifyCount = #{record.notifyCount,jdbcType=TINYINT},
      </if>
      <if test="record.lastNotifyTime != null">
        LastNotifyTime = #{record.lastNotifyTime,jdbcType=BIGINT},
      </if>
      <if test="record.expireTime != null">
        ExpireTime = #{record.expireTime,jdbcType=BIGINT},
      </if>
      <if test="record.paySuccTime != null">
        PaySuccTime = #{record.paySuccTime,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        CreateTime = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        UpdateTime = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.realAmount != null">
        RealAmount = #{record.realAmount,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_pay_order
    set PayOrderId = #{record.payOrderId,jdbcType=VARCHAR},
      MchId = #{record.mchId,jdbcType=VARCHAR},
      MchOrderNo = #{record.mchOrderNo,jdbcType=VARCHAR},
      ChannelId = #{record.channelId,jdbcType=VARCHAR},
      Amount = #{record.amount,jdbcType=BIGINT},
      Currency = #{record.currency,jdbcType=VARCHAR},
      Status = #{record.status,jdbcType=TINYINT},
      ClientIp = #{record.clientIp,jdbcType=VARCHAR},
      AlipayPid = #{record.alipayPid,jdbcType=VARCHAR},
      Device = #{record.device,jdbcType=VARCHAR},
      Subject = #{record.subject,jdbcType=VARCHAR},
      Body = #{record.body,jdbcType=VARCHAR},
      Extra = #{record.extra,jdbcType=VARCHAR},
      ChannelMchId = #{record.channelMchId,jdbcType=VARCHAR},
      ChannelOrderNo = #{record.channelOrderNo,jdbcType=VARCHAR},
      ErrCode = #{record.errCode,jdbcType=VARCHAR},
      ErrMsg = #{record.errMsg,jdbcType=VARCHAR},
      Param1 = #{record.param1,jdbcType=VARCHAR},
      Param2 = #{record.param2,jdbcType=VARCHAR},
      NotifyUrl = #{record.notifyUrl,jdbcType=VARCHAR},
      NotifyCount = #{record.notifyCount,jdbcType=TINYINT},
      LastNotifyTime = #{record.lastNotifyTime,jdbcType=BIGINT},
      ExpireTime = #{record.expireTime,jdbcType=BIGINT},
      PaySuccTime = #{record.paySuccTime,jdbcType=BIGINT},
      CreateTime = #{record.createTime,jdbcType=TIMESTAMP},
      UpdateTime = #{record.updateTime,jdbcType=TIMESTAMP},
      RealAmount = #{record.realAmount,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.wlpay.dal.dao.model.PayOrder">
    update t_pay_order
    <set>
      <if test="mchId != null">
        MchId = #{mchId,jdbcType=VARCHAR},
      </if>
      <if test="mchOrderNo != null">
        MchOrderNo = #{mchOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="channelId != null">
        ChannelId = #{channelId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        Amount = #{amount,jdbcType=BIGINT},
      </if>
      <if test="currency != null">
        Currency = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        Status = #{status,jdbcType=TINYINT},
      </if>
      <if test="clientIp != null">
        ClientIp = #{clientIp,jdbcType=VARCHAR},
      </if>
      <if test="alipayPid != null">
        AlipayPid = #{alipayPid,jdbcType=VARCHAR},
      </if>
      <if test="device != null">
        Device = #{device,jdbcType=VARCHAR},
      </if>
      <if test="subject != null">
        Subject = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="body != null">
        Body = #{body,jdbcType=VARCHAR},
      </if>
      <if test="extra != null">
        Extra = #{extra,jdbcType=VARCHAR},
      </if>
      <if test="channelMchId != null">
        ChannelMchId = #{channelMchId,jdbcType=VARCHAR},
      </if>
      <if test="channelOrderNo != null">
        ChannelOrderNo = #{channelOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="errCode != null">
        ErrCode = #{errCode,jdbcType=VARCHAR},
      </if>
      <if test="errMsg != null">
        ErrMsg = #{errMsg,jdbcType=VARCHAR},
      </if>
      <if test="param1 != null">
        Param1 = #{param1,jdbcType=VARCHAR},
      </if>
      <if test="param2 != null">
        Param2 = #{param2,jdbcType=VARCHAR},
      </if>
      <if test="notifyUrl != null">
        NotifyUrl = #{notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="notifyCount != null">
        NotifyCount = #{notifyCount,jdbcType=TINYINT},
      </if>
      <if test="lastNotifyTime != null">
        LastNotifyTime = #{lastNotifyTime,jdbcType=BIGINT},
      </if>
      <if test="expireTime != null">
        ExpireTime = #{expireTime,jdbcType=BIGINT},
      </if>
      <if test="paySuccTime != null">
        PaySuccTime = #{paySuccTime,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        CreateTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UpdateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="realAmount != null">
        RealAmount = #{realAmount,jdbcType=BIGINT},
      </if>
    </set>
    where PayOrderId = #{payOrderId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.wlpay.dal.dao.model.PayOrder">
    update t_pay_order
    set MchId = #{mchId,jdbcType=VARCHAR},
      MchOrderNo = #{mchOrderNo,jdbcType=VARCHAR},
      ChannelId = #{channelId,jdbcType=VARCHAR},
      Amount = #{amount,jdbcType=BIGINT},
      Currency = #{currency,jdbcType=VARCHAR},
      Status = #{status,jdbcType=TINYINT},
      ClientIp = #{clientIp,jdbcType=VARCHAR},
      AlipayPid = #{alipayPid,jdbcType=VARCHAR},
      Device = #{device,jdbcType=VARCHAR},
      Subject = #{subject,jdbcType=VARCHAR},
      Body = #{body,jdbcType=VARCHAR},
      Extra = #{extra,jdbcType=VARCHAR},
      ChannelMchId = #{channelMchId,jdbcType=VARCHAR},
      ChannelOrderNo = #{channelOrderNo,jdbcType=VARCHAR},
      ErrCode = #{errCode,jdbcType=VARCHAR},
      ErrMsg = #{errMsg,jdbcType=VARCHAR},
      Param1 = #{param1,jdbcType=VARCHAR},
      Param2 = #{param2,jdbcType=VARCHAR},
      NotifyUrl = #{notifyUrl,jdbcType=VARCHAR},
      NotifyCount = #{notifyCount,jdbcType=TINYINT},
      LastNotifyTime = #{lastNotifyTime,jdbcType=BIGINT},
      ExpireTime = #{expireTime,jdbcType=BIGINT},
      PaySuccTime = #{paySuccTime,jdbcType=BIGINT},
      CreateTime = #{createTime,jdbcType=TIMESTAMP},
      UpdateTime = #{updateTime,jdbcType=TIMESTAMP},
      RealAmount = #{realAmount,jdbcType=BIGINT}
    where PayOrderId = #{payOrderId,jdbcType=VARCHAR}
  </update>
</mapper>